(edif hc283
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2024 1 3 2 1 6)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B ^ C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell MAJ3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + (B & C) + (A & C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell hc283 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename ina "inA[3:0]") 4) (direction INPUT))
           (port (array (rename inb "inB[3:0]") 4) (direction INPUT))
           (port (array (rename out "out[3:0]") 4) (direction OUTPUT))
           (port cin (direction INPUT))
           (port cout (direction OUTPUT))
         )
         (contents
          (instance out_1_0_0_ADD_4x4_slow_I2_S_i_x3 (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance out_1_0_0_ADD_4x4_slow_I1_S_i_x3 (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance out_1_0_0_ADD_4x4_slow_I0_S_i_x3 (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance out_1_0_0_ADD_4x4_slow_I3_S_i_x2 (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance out_1_0_0_ADD_4x4_slow_I3_CO1_i_o3 (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance out_1_0_0_ADD_4x4_slow_I2_S_i_o3 (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance out_1_0_0_ADD_4x4_slow_I1_S_i_o3 (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance out_1_0_0_ADD_4x4_slow_I3_CO1_i (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance cout_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance cin_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename out_pad_3 "out_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename out_pad_2 "out_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename out_pad_1 "out_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename out_pad_0 "out_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename inB_pad_3 "inB_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename inB_pad_2 "inB_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename inB_pad_1 "inB_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename inB_pad_0 "inB_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename inA_pad_3 "inA_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename inA_pad_2 "inA_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename inA_pad_1 "inA_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename inA_pad_0 "inA_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename out_1_0_0_N_12 "out_1_0_0.N_12") (joined
           (portRef Y (instanceRef out_1_0_0_ADD_4x4_slow_I3_CO1_i))
           (portRef D (instanceRef cout_pad))
          ))
          (net (rename out_1_0_0_N_14 "out_1_0_0.N_14") (joined
           (portRef Y (instanceRef out_1_0_0_ADD_4x4_slow_I1_S_i_o3))
           (portRef A (instanceRef out_1_0_0_ADD_4x4_slow_I2_S_i_o3))
           (portRef C (instanceRef out_1_0_0_ADD_4x4_slow_I1_S_i_x3))
          ))
          (net (rename out_1_0_0_N_15 "out_1_0_0.N_15") (joined
           (portRef Y (instanceRef out_1_0_0_ADD_4x4_slow_I2_S_i_o3))
           (portRef A (instanceRef out_1_0_0_ADD_4x4_slow_I3_CO1_i_o3))
           (portRef C (instanceRef out_1_0_0_ADD_4x4_slow_I2_S_i_x3))
          ))
          (net (rename out_1_0_0_N_16 "out_1_0_0.N_16") (joined
           (portRef Y (instanceRef out_1_0_0_ADD_4x4_slow_I3_CO1_i_o3))
           (portRef C (instanceRef out_1_0_0_ADD_4x4_slow_I3_CO1_i))
           (portRef B (instanceRef out_1_0_0_ADD_4x4_slow_I3_S_i_x2))
          ))
          (net (rename inA_c_0 "inA_c[0]") (joined
           (portRef Y (instanceRef inA_pad_0))
           (portRef A (instanceRef out_1_0_0_ADD_4x4_slow_I1_S_i_o3))
           (portRef C (instanceRef out_1_0_0_ADD_4x4_slow_I0_S_i_x3))
          ))
          (net (rename inA_0 "inA[0]") (joined
           (portRef (member ina 3))
           (portRef PAD (instanceRef inA_pad_0))
          ))
          (net (rename inA_c_1 "inA_c[1]") (joined
           (portRef Y (instanceRef inA_pad_1))
           (portRef B (instanceRef out_1_0_0_ADD_4x4_slow_I2_S_i_o3))
           (portRef A (instanceRef out_1_0_0_ADD_4x4_slow_I1_S_i_x3))
          ))
          (net (rename inA_1 "inA[1]") (joined
           (portRef (member ina 2))
           (portRef PAD (instanceRef inA_pad_1))
          ))
          (net (rename inA_c_2 "inA_c[2]") (joined
           (portRef Y (instanceRef inA_pad_2))
           (portRef B (instanceRef out_1_0_0_ADD_4x4_slow_I3_CO1_i_o3))
           (portRef A (instanceRef out_1_0_0_ADD_4x4_slow_I2_S_i_x3))
          ))
          (net (rename inA_2 "inA[2]") (joined
           (portRef (member ina 1))
           (portRef PAD (instanceRef inA_pad_2))
          ))
          (net (rename inA_c_3 "inA_c[3]") (joined
           (portRef Y (instanceRef inA_pad_3))
           (portRef A (instanceRef out_1_0_0_ADD_4x4_slow_I3_CO1_i))
           (portRef A (instanceRef out_1_0_0_ADD_4x4_slow_I3_S_i_x2))
          ))
          (net (rename inA_3 "inA[3]") (joined
           (portRef (member ina 0))
           (portRef PAD (instanceRef inA_pad_3))
          ))
          (net (rename inB_c_0 "inB_c[0]") (joined
           (portRef Y (instanceRef inB_pad_0))
           (portRef C (instanceRef out_1_0_0_ADD_4x4_slow_I1_S_i_o3))
           (portRef B (instanceRef out_1_0_0_ADD_4x4_slow_I0_S_i_x3))
          ))
          (net (rename inB_0 "inB[0]") (joined
           (portRef (member inb 3))
           (portRef PAD (instanceRef inB_pad_0))
          ))
          (net (rename inB_c_1 "inB_c[1]") (joined
           (portRef Y (instanceRef inB_pad_1))
           (portRef C (instanceRef out_1_0_0_ADD_4x4_slow_I2_S_i_o3))
           (portRef B (instanceRef out_1_0_0_ADD_4x4_slow_I1_S_i_x3))
          ))
          (net (rename inB_1 "inB[1]") (joined
           (portRef (member inb 2))
           (portRef PAD (instanceRef inB_pad_1))
          ))
          (net (rename inB_c_2 "inB_c[2]") (joined
           (portRef Y (instanceRef inB_pad_2))
           (portRef C (instanceRef out_1_0_0_ADD_4x4_slow_I3_CO1_i_o3))
           (portRef B (instanceRef out_1_0_0_ADD_4x4_slow_I2_S_i_x3))
          ))
          (net (rename inB_2 "inB[2]") (joined
           (portRef (member inb 1))
           (portRef PAD (instanceRef inB_pad_2))
          ))
          (net (rename inB_c_3 "inB_c[3]") (joined
           (portRef Y (instanceRef inB_pad_3))
           (portRef B (instanceRef out_1_0_0_ADD_4x4_slow_I3_CO1_i))
           (portRef C (instanceRef out_1_0_0_ADD_4x4_slow_I3_S_i_x2))
          ))
          (net (rename inB_3 "inB[3]") (joined
           (portRef (member inb 0))
           (portRef PAD (instanceRef inB_pad_3))
          ))
          (net (rename out_0 "out[0]") (joined
           (portRef PAD (instanceRef out_pad_0))
           (portRef (member out 3))
          ))
          (net (rename out_1 "out[1]") (joined
           (portRef PAD (instanceRef out_pad_1))
           (portRef (member out 2))
          ))
          (net (rename out_2 "out[2]") (joined
           (portRef PAD (instanceRef out_pad_2))
           (portRef (member out 1))
          ))
          (net (rename out_c_3 "out_c[3]") (joined
           (portRef Y (instanceRef out_1_0_0_ADD_4x4_slow_I3_S_i_x2))
           (portRef D (instanceRef out_pad_3))
          ))
          (net (rename out_3 "out[3]") (joined
           (portRef PAD (instanceRef out_pad_3))
           (portRef (member out 0))
          ))
          (net cin_c (joined
           (portRef Y (instanceRef cin_pad))
           (portRef B (instanceRef out_1_0_0_ADD_4x4_slow_I1_S_i_o3))
           (portRef A (instanceRef out_1_0_0_ADD_4x4_slow_I0_S_i_x3))
          ))
          (net cin (joined
           (portRef cin)
           (portRef PAD (instanceRef cin_pad))
          ))
          (net cout (joined
           (portRef PAD (instanceRef cout_pad))
           (portRef cout)
          ))
          (net (rename out_1_0_0_N_21_i_i "out_1_0_0.N_21_i_i") (joined
           (portRef Y (instanceRef out_1_0_0_ADD_4x4_slow_I0_S_i_x3))
           (portRef D (instanceRef out_pad_0))
          ))
          (net (rename out_1_0_0_N_22_i_i "out_1_0_0.N_22_i_i") (joined
           (portRef Y (instanceRef out_1_0_0_ADD_4x4_slow_I1_S_i_x3))
           (portRef D (instanceRef out_pad_1))
          ))
          (net (rename out_1_0_0_N_23_i_i "out_1_0_0.N_23_i_i") (joined
           (portRef Y (instanceRef out_1_0_0_ADD_4x4_slow_I2_S_i_x3))
           (portRef D (instanceRef out_pad_2))
          ))
         )
        (property orig_inst_of (string "hc283"))
       )
    )
  )
  (design hc283 (cellRef hc283 (libraryRef work)))
)
