(edif hc112
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2024 1 3 14 41 51)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OA1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A + B) & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell AXOI5 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A & B + (!B ^ C))"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell hc112 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port J1 (direction INPUT))
           (port J2 (direction INPUT))
           (port K1 (direction INPUT))
           (port K2 (direction INPUT))
           (port CPN1 (direction INPUT))
           (port CPN2 (direction INPUT))
           (port RD1N (direction INPUT))
           (port RD2N (direction INPUT))
           (port SD1N (direction INPUT))
           (port SD2N (direction INPUT))
           (port Q1 (direction OUTPUT))
           (port Q2 (direction OUTPUT))
           (port Q1N (direction OUTPUT))
           (port Q2N (direction OUTPUT))
         )
         (contents
          (instance Q1N_pad_RNO (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Q2_c_i (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Q1_RNO_1 (viewRef prim (cellRef AO1C (libraryRef PA3)))          )
          (instance Q2_1_0 (viewRef prim (cellRef AO1C (libraryRef PA3)))          )
          (instance Q1_RNO (viewRef prim (cellRef OA1 (libraryRef PA3)))          )
          (instance Q2_2 (viewRef prim (cellRef OA1 (libraryRef PA3)))          )
          (instance Q1_RNO_0 (viewRef prim (cellRef AXOI5 (libraryRef PA3)))          )
          (instance Q2_0 (viewRef prim (cellRef AXOI5 (libraryRef PA3)))          )
          (instance (rename QZ0Z2 "Q2") (viewRef prim (cellRef DFN1 (libraryRef PA3)))
          )
          (instance (rename QZ0Z1 "Q1") (viewRef prim (cellRef DFN1 (libraryRef PA3)))
          )
          (instance Q2N_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q1N_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q2_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance SD2N_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance SD1N_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance RD2N_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance RD1N_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance CPN2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance CPN1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance K2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance K1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance J2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance J1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename Q2Z0Z_0 "Q2_0") (joined
           (portRef Y (instanceRef Q2_0))
           (portRef A (instanceRef Q2_2))
          ))
          (net (rename Q1_RNOZ0Z_0 "Q1_RNO_0") (joined
           (portRef Y (instanceRef Q1_RNO_0))
           (portRef A (instanceRef Q1_RNO))
          ))
          (net (rename Q2Z0Z_2 "Q2_2") (joined
           (portRef Y (instanceRef Q2_2))
           (portRef D (instanceRef QZ0Z2))
          ))
          (net (rename Q1_RNOZ0 "Q1_RNO") (joined
           (portRef Y (instanceRef Q1_RNO))
           (portRef D (instanceRef QZ0Z1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net J1_c (joined
           (portRef Y (instanceRef J1_pad))
           (portRef A (instanceRef Q1_RNO_0))
           (portRef B (instanceRef Q1_RNO_1))
          ))
          (net J1 (joined
           (portRef J1)
           (portRef PAD (instanceRef J1_pad))
          ))
          (net J2_c (joined
           (portRef Y (instanceRef J2_pad))
           (portRef A (instanceRef Q2_0))
           (portRef B (instanceRef Q2_1_0))
          ))
          (net J2 (joined
           (portRef J2)
           (portRef PAD (instanceRef J2_pad))
          ))
          (net K1_c (joined
           (portRef Y (instanceRef K1_pad))
           (portRef B (instanceRef Q1_RNO_0))
           (portRef A (instanceRef Q1_RNO_1))
          ))
          (net K1 (joined
           (portRef K1)
           (portRef PAD (instanceRef K1_pad))
          ))
          (net K2_c (joined
           (portRef Y (instanceRef K2_pad))
           (portRef B (instanceRef Q2_0))
           (portRef A (instanceRef Q2_1_0))
          ))
          (net K2 (joined
           (portRef K2)
           (portRef PAD (instanceRef K2_pad))
          ))
          (net CPN1_c (joined
           (portRef Y (instanceRef CPN1_pad))
           (portRef CLK (instanceRef QZ0Z1))
          ))
          (net CPN1 (joined
           (portRef CPN1)
           (portRef PAD (instanceRef CPN1_pad))
          ))
          (net CPN2_c (joined
           (portRef Y (instanceRef CPN2_pad))
           (portRef CLK (instanceRef QZ0Z2))
          ))
          (net CPN2 (joined
           (portRef CPN2)
           (portRef PAD (instanceRef CPN2_pad))
          ))
          (net RD1N_c (joined
           (portRef Y (instanceRef RD1N_pad))
           (portRef C (instanceRef Q1_RNO))
          ))
          (net RD1N (joined
           (portRef RD1N)
           (portRef PAD (instanceRef RD1N_pad))
          ))
          (net RD2N_c (joined
           (portRef Y (instanceRef RD2N_pad))
           (portRef C (instanceRef Q2_2))
          ))
          (net RD2N (joined
           (portRef RD2N)
           (portRef PAD (instanceRef RD2N_pad))
          ))
          (net SD1N_c (joined
           (portRef Y (instanceRef SD1N_pad))
           (portRef C (instanceRef Q1_RNO_1))
          ))
          (net SD1N (joined
           (portRef SD1N)
           (portRef PAD (instanceRef SD1N_pad))
          ))
          (net SD2N_c (joined
           (portRef Y (instanceRef SD2N_pad))
           (portRef C (instanceRef Q2_1_0))
          ))
          (net SD2N (joined
           (portRef SD2N)
           (portRef PAD (instanceRef SD2N_pad))
          ))
          (net Q1_c (joined
           (portRef Q (instanceRef QZ0Z1))
           (portRef D (instanceRef Q1_pad))
           (portRef C (instanceRef Q1_RNO_0))
           (portRef A (instanceRef Q1N_pad_RNO))
          ))
          (net Q1 (joined
           (portRef PAD (instanceRef Q1_pad))
           (portRef Q1)
          ))
          (net Q2_c (joined
           (portRef Q (instanceRef QZ0Z2))
           (portRef D (instanceRef Q2_pad))
           (portRef C (instanceRef Q2_0))
           (portRef A (instanceRef Q2_c_i))
          ))
          (net Q2 (joined
           (portRef PAD (instanceRef Q2_pad))
           (portRef Q2)
          ))
          (net Q1N (joined
           (portRef PAD (instanceRef Q1N_pad))
           (portRef Q1N)
          ))
          (net Q2N (joined
           (portRef PAD (instanceRef Q2N_pad))
           (portRef Q2N)
          ))
          (net (rename Q2_1Z0Z_0 "Q2_1_0") (joined
           (portRef Y (instanceRef Q2_1_0))
           (portRef B (instanceRef Q2_2))
          ))
          (net Q1_1_0 (joined
           (portRef Y (instanceRef Q1_RNO_1))
           (portRef B (instanceRef Q1_RNO))
          ))
          (net (rename Q2_c_iZ0 "Q2_c_i") (joined
           (portRef Y (instanceRef Q2_c_i))
           (portRef D (instanceRef Q2N_pad))
          ))
          (net Q1_c_i (joined
           (portRef Y (instanceRef Q1N_pad_RNO))
           (portRef D (instanceRef Q1N_pad))
          ))
         )
        (property orig_inst_of (string "hc112"))
       )
    )
  )
  (design hc112 (cellRef hc112 (libraryRef work)))
)
