(edif hc148
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2023 12 27 16 8 53)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell AO1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell hc148 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port EI_N (direction INPUT))
           (port (array (rename in_n "in_N[7:0]") 8) (direction INPUT))
           (port (array (rename out_n "out_N[2:0]") 3) (direction OUTPUT))
           (port GS_N (direction OUTPUT))
           (port EO_N (direction OUTPUT))
         )
         (contents
          (instance (rename out_N_i_a2_0_0_0 "out_N_i_a2_0_0[0]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename in_N_pad_RNIDHTT_7 "in_N_pad_RNIDHTT[7]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename in_N_pad_RNIFRNP2_4 "in_N_pad_RNIFRNP2[4]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename out_N_i_a2_0_0_1 "out_N_i_a2_0_0[1]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename out_N_i_a2_1_0 "out_N_i_a2_1[0]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance (rename out_N_i_0 "out_N_i[0]") (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance (rename out_N_i_a2_0 "out_N_i_a2[0]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename in_N_pad_RNI9DTT_4 "in_N_pad_RNI9DTT[4]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename in_N_pad_RNI59TT_2 "in_N_pad_RNI59TT[2]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename in_N_pad_RNI15TT_0 "in_N_pad_RNI15TT[0]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename out_N_i_o2_0 "out_N_i_o2[0]") (viewRef prim (cellRef AO1C (libraryRef PA3)))          )
          (instance (rename out_N_i_1 "out_N_i[1]") (viewRef prim (cellRef AO1A (libraryRef PA3)))          )
          (instance (rename out_N_i_a2_2 "out_N_i_a2[2]") (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance (rename out_N_i_a2_0_0 "out_N_i_a2_0[0]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance GS_N_pad_RNO (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance out_N61 (viewRef prim (cellRef OR3B (libraryRef PA3)))          )
          (instance EO_N_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance GS_N_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename out_N_pad_2 "out_N_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename out_N_pad_1 "out_N_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename out_N_pad_0 "out_N_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename in_N_pad_7 "in_N_pad[7]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename in_N_pad_6 "in_N_pad[6]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename in_N_pad_5 "in_N_pad[5]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename in_N_pad_4 "in_N_pad[4]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename in_N_pad_3 "in_N_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename in_N_pad_2 "in_N_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename in_N_pad_1 "in_N_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename in_N_pad_0 "in_N_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance EI_N_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename out_NZ0Z61 "out_N61") (joined
           (portRef Y (instanceRef out_N61))
           (portRef D (instanceRef EO_N_pad))
          ))
          (net (rename out_N_iZ0Z_0 "out_N_i[0]") (joined
           (portRef Y (instanceRef out_N_i_0))
           (portRef D (instanceRef out_N_pad_0))
          ))
          (net (rename out_N_iZ0Z_1 "out_N_i[1]") (joined
           (portRef Y (instanceRef out_N_i_1))
           (portRef D (instanceRef out_N_pad_1))
          ))
          (net (rename out_N_i_a2Z0Z_2 "out_N_i_a2[2]") (joined
           (portRef Y (instanceRef out_N_i_a2_2))
           (portRef D (instanceRef out_N_pad_2))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net un1_in_N_2 (joined
           (portRef Y (instanceRef in_N_pad_RNI59TT_2))
           (portRef A (instanceRef out_N_i_a2_2))
           (portRef A (instanceRef out_N_i_a2_0_0_1))
           (portRef B (instanceRef in_N_pad_RNIFRNP2_4))
          ))
          (net un1_in_N_1 (joined
           (portRef Y (instanceRef in_N_pad_RNI15TT_0))
           (portRef B (instanceRef out_N_i_a2_2))
           (portRef B (instanceRef out_N_i_1))
           (portRef A (instanceRef in_N_pad_RNIFRNP2_4))
          ))
          (net un1_in_N_3 (joined
           (portRef Y (instanceRef in_N_pad_RNI9DTT_4))
           (portRef B (instanceRef out_N_i_a2_0_0_1))
           (portRef C (instanceRef in_N_pad_RNIFRNP2_4))
          ))
          (net N_52 (joined
           (portRef Y (instanceRef out_N_i_a2_0_0))
           (portRef A (instanceRef out_N_i_0))
          ))
          (net N_53 (joined
           (portRef Y (instanceRef out_N_i_a2_1_0))
           (portRef B (instanceRef out_N_i_0))
          ))
          (net N_51 (joined
           (portRef Y (instanceRef out_N_i_a2_0))
           (portRef C (instanceRef out_N_i_0))
          ))
          (net N_49 (joined
           (portRef Y (instanceRef out_N_i_o2_0))
           (portRef B (instanceRef out_N_i_a2_0))
          ))
          (net EI_N_c (joined
           (portRef Y (instanceRef EI_N_pad))
           (portRef C (instanceRef out_N61))
           (portRef C (instanceRef GS_N_pad_RNO))
           (portRef B (instanceRef out_N_i_a2_0_0))
           (portRef C (instanceRef out_N_i_a2_2))
           (portRef C (instanceRef out_N_i_1))
           (portRef C (instanceRef out_N_i_a2_1_0))
           (portRef B (instanceRef out_N_i_a2_0_0_0))
          ))
          (net EI_N (joined
           (portRef EI_N)
           (portRef PAD (instanceRef EI_N_pad))
          ))
          (net (rename in_N_c_0 "in_N_c[0]") (joined
           (portRef Y (instanceRef in_N_pad_0))
           (portRef A (instanceRef out_N_i_a2_0_0))
           (portRef B (instanceRef in_N_pad_RNI15TT_0))
          ))
          (net (rename in_N_0 "in_N[0]") (joined
           (portRef (member in_n 7))
           (portRef PAD (instanceRef in_N_pad_0))
          ))
          (net (rename in_N_c_1 "in_N_c[1]") (joined
           (portRef Y (instanceRef in_N_pad_1))
           (portRef A (instanceRef in_N_pad_RNI15TT_0))
           (portRef A (instanceRef out_N_i_a2_0))
           (portRef A (instanceRef out_N_i_a2_1_0))
          ))
          (net (rename in_N_1 "in_N[1]") (joined
           (portRef (member in_n 6))
           (portRef PAD (instanceRef in_N_pad_1))
          ))
          (net (rename in_N_c_2 "in_N_c[2]") (joined
           (portRef Y (instanceRef in_N_pad_2))
           (portRef B (instanceRef in_N_pad_RNI59TT_2))
           (portRef B (instanceRef out_N_i_a2_1_0))
          ))
          (net (rename in_N_2 "in_N[2]") (joined
           (portRef (member in_n 5))
           (portRef PAD (instanceRef in_N_pad_2))
          ))
          (net (rename in_N_c_3 "in_N_c[3]") (joined
           (portRef Y (instanceRef in_N_pad_3))
           (portRef A (instanceRef in_N_pad_RNI59TT_2))
           (portRef A (instanceRef out_N_i_a2_0_0_0))
          ))
          (net (rename in_N_3 "in_N[3]") (joined
           (portRef (member in_n 4))
           (portRef PAD (instanceRef in_N_pad_3))
          ))
          (net (rename in_N_c_4 "in_N_c[4]") (joined
           (portRef Y (instanceRef in_N_pad_4))
           (portRef C (instanceRef out_N_i_o2_0))
           (portRef B (instanceRef in_N_pad_RNI9DTT_4))
          ))
          (net (rename in_N_4 "in_N[4]") (joined
           (portRef (member in_n 3))
           (portRef PAD (instanceRef in_N_pad_4))
          ))
          (net (rename in_N_c_5 "in_N_c[5]") (joined
           (portRef Y (instanceRef in_N_pad_5))
           (portRef B (instanceRef out_N_i_o2_0))
           (portRef A (instanceRef in_N_pad_RNI9DTT_4))
          ))
          (net (rename in_N_5 "in_N[5]") (joined
           (portRef (member in_n 2))
           (portRef PAD (instanceRef in_N_pad_5))
          ))
          (net (rename in_N_c_6 "in_N_c[6]") (joined
           (portRef Y (instanceRef in_N_pad_6))
           (portRef A (instanceRef out_N_i_o2_0))
           (portRef B (instanceRef in_N_pad_RNIDHTT_7))
          ))
          (net (rename in_N_6 "in_N[6]") (joined
           (portRef (member in_n 1))
           (portRef PAD (instanceRef in_N_pad_6))
          ))
          (net (rename in_N_c_7 "in_N_c[7]") (joined
           (portRef Y (instanceRef in_N_pad_7))
           (portRef A (instanceRef in_N_pad_RNIDHTT_7))
          ))
          (net (rename in_N_7 "in_N[7]") (joined
           (portRef (member in_n 0))
           (portRef PAD (instanceRef in_N_pad_7))
          ))
          (net (rename out_N_0 "out_N[0]") (joined
           (portRef PAD (instanceRef out_N_pad_0))
           (portRef (member out_n 2))
          ))
          (net (rename out_N_1 "out_N[1]") (joined
           (portRef PAD (instanceRef out_N_pad_1))
           (portRef (member out_n 1))
          ))
          (net (rename out_N_2 "out_N[2]") (joined
           (portRef PAD (instanceRef out_N_pad_2))
           (portRef (member out_n 0))
          ))
          (net GS_N_c (joined
           (portRef Y (instanceRef GS_N_pad_RNO))
           (portRef D (instanceRef GS_N_pad))
          ))
          (net GS_N (joined
           (portRef PAD (instanceRef GS_N_pad))
           (portRef GS_N)
          ))
          (net EO_N (joined
           (portRef PAD (instanceRef EO_N_pad))
           (portRef EO_N)
          ))
          (net (rename out_N_i_a2_0_1 "out_N_i_a2_0[1]") (joined
           (portRef Y (instanceRef out_N_i_a2_0_0_1))
           (portRef A (instanceRef out_N_i_1))
          ))
          (net un1_in_N_0 (joined
           (portRef Y (instanceRef in_N_pad_RNIFRNP2_4))
           (portRef A (instanceRef out_N61))
           (portRef B (instanceRef GS_N_pad_RNO))
          ))
          (net un1_in_N_1_0 (joined
           (portRef Y (instanceRef in_N_pad_RNIDHTT_7))
           (portRef B (instanceRef out_N61))
           (portRef A (instanceRef GS_N_pad_RNO))
          ))
          (net (rename out_N_i_a2_0Z0Z_0 "out_N_i_a2_0[0]") (joined
           (portRef Y (instanceRef out_N_i_a2_0_0_0))
           (portRef C (instanceRef out_N_i_a2_0))
          ))
         )
        (property orig_inst_of (string "hc148"))
       )
    )
  )
  (design hc148 (cellRef hc148 (libraryRef work)))
)
