(edif hc194
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2024 1 3 14 53 43)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1E1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell hc194 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port D0 (direction INPUT))
           (port D1 (direction INPUT))
           (port D2 (direction INPUT))
           (port D3 (direction INPUT))
           (port S0 (direction INPUT))
           (port S1 (direction INPUT))
           (port DSR (direction INPUT))
           (port DSL (direction INPUT))
           (port MRN (direction INPUT))
           (port CP (direction INPUT))
           (port Q0 (direction OUTPUT))
           (port Q1 (direction OUTPUT))
           (port Q2 (direction OUTPUT))
           (port Q3 (direction OUTPUT))
         )
         (contents
          (instance CP_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance (rename Qaux_5_3 "Qaux_5[3]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Qaux_5_2 "Qaux_5[2]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Qaux_5_1 "Qaux_5[1]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Qaux_5_0 "Qaux_5[0]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Qaux_5_0_3 "Qaux_5_0[3]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Qaux_5_0_2 "Qaux_5_0[2]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Qaux_5_0_1 "Qaux_5_0[1]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Qaux_5_0_0 "Qaux_5_0[0]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance S1_pad_RNIFV8F (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename Qaux_0 "Qaux[0]") (viewRef prim (cellRef DFN1E1C0 (libraryRef PA3)))
          )
          (instance (rename Qaux_1 "Qaux[1]") (viewRef prim (cellRef DFN1E1C0 (libraryRef PA3)))
          )
          (instance (rename Qaux_2 "Qaux[2]") (viewRef prim (cellRef DFN1E1C0 (libraryRef PA3)))
          )
          (instance (rename Qaux_3 "Qaux[3]") (viewRef prim (cellRef DFN1E1C0 (libraryRef PA3)))
          )
          (instance Q3_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q2_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q0_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance MRN_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance DSL_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance DSR_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance S1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance S0_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D3_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D0_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename S1_pad_RNIFV8FZ0 "S1_pad_RNIFV8F") (joined
           (portRef Y (instanceRef S1_pad_RNIFV8F))
           (portRef E (instanceRef Qaux_3))
           (portRef E (instanceRef Qaux_2))
           (portRef E (instanceRef Qaux_1))
           (portRef E (instanceRef Qaux_0))
          ))
          (net (rename Qaux_5Z0Z_0 "Qaux_5[0]") (joined
           (portRef Y (instanceRef Qaux_5_0))
           (portRef D (instanceRef Qaux_0))
          ))
          (net (rename Qaux_5Z0Z_1 "Qaux_5[1]") (joined
           (portRef Y (instanceRef Qaux_5_1))
           (portRef D (instanceRef Qaux_1))
          ))
          (net (rename Qaux_5Z0Z_2 "Qaux_5[2]") (joined
           (portRef Y (instanceRef Qaux_5_2))
           (portRef D (instanceRef Qaux_2))
          ))
          (net (rename Qaux_5Z0Z_3 "Qaux_5[3]") (joined
           (portRef Y (instanceRef Qaux_5_3))
           (portRef D (instanceRef Qaux_3))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net N_8 (joined
           (portRef Y (instanceRef Qaux_5_0_2))
           (portRef B (instanceRef Qaux_5_2))
          ))
          (net N_9 (joined
           (portRef Y (instanceRef Qaux_5_0_3))
           (portRef B (instanceRef Qaux_5_3))
          ))
          (net N_23 (joined
           (portRef Y (instanceRef Qaux_5_0_0))
           (portRef B (instanceRef Qaux_5_0))
          ))
          (net N_7 (joined
           (portRef Y (instanceRef Qaux_5_0_1))
           (portRef B (instanceRef Qaux_5_1))
          ))
          (net D0_c (joined
           (portRef Y (instanceRef D0_pad))
           (portRef B (instanceRef Qaux_5_0_0))
          ))
          (net D0 (joined
           (portRef D0)
           (portRef PAD (instanceRef D0_pad))
          ))
          (net D1_c (joined
           (portRef Y (instanceRef D1_pad))
           (portRef B (instanceRef Qaux_5_0_1))
          ))
          (net D1 (joined
           (portRef D1)
           (portRef PAD (instanceRef D1_pad))
          ))
          (net D2_c (joined
           (portRef Y (instanceRef D2_pad))
           (portRef B (instanceRef Qaux_5_0_2))
          ))
          (net D2 (joined
           (portRef D2)
           (portRef PAD (instanceRef D2_pad))
          ))
          (net D3_c (joined
           (portRef Y (instanceRef D3_pad))
           (portRef B (instanceRef Qaux_5_0_3))
          ))
          (net D3 (joined
           (portRef D3)
           (portRef PAD (instanceRef D3_pad))
          ))
          (net S0_c (joined
           (portRef Y (instanceRef S0_pad))
           (portRef B (instanceRef S1_pad_RNIFV8F))
           (portRef S (instanceRef Qaux_5_0_0))
           (portRef S (instanceRef Qaux_5_0_1))
           (portRef S (instanceRef Qaux_5_0_2))
           (portRef S (instanceRef Qaux_5_0_3))
          ))
          (net S0 (joined
           (portRef S0)
           (portRef PAD (instanceRef S0_pad))
          ))
          (net S1_c (joined
           (portRef Y (instanceRef S1_pad))
           (portRef A (instanceRef S1_pad_RNIFV8F))
           (portRef S (instanceRef Qaux_5_0))
           (portRef S (instanceRef Qaux_5_1))
           (portRef S (instanceRef Qaux_5_2))
           (portRef S (instanceRef Qaux_5_3))
          ))
          (net S1 (joined
           (portRef S1)
           (portRef PAD (instanceRef S1_pad))
          ))
          (net DSR_c (joined
           (portRef Y (instanceRef DSR_pad))
           (portRef A (instanceRef Qaux_5_3))
          ))
          (net DSR (joined
           (portRef DSR)
           (portRef PAD (instanceRef DSR_pad))
          ))
          (net DSL_c (joined
           (portRef Y (instanceRef DSL_pad))
           (portRef A (instanceRef Qaux_5_0_0))
          ))
          (net DSL (joined
           (portRef DSL)
           (portRef PAD (instanceRef DSL_pad))
          ))
          (net MRN_c (joined
           (portRef Y (instanceRef MRN_pad))
           (portRef CLR (instanceRef Qaux_3))
           (portRef CLR (instanceRef Qaux_2))
           (portRef CLR (instanceRef Qaux_1))
           (portRef CLR (instanceRef Qaux_0))
          ))
          (net MRN (joined
           (portRef MRN)
           (portRef PAD (instanceRef MRN_pad))
          ))
          (net CP_c (joined
           (portRef Y (instanceRef CP_pad))
           (portRef CLK (instanceRef Qaux_3))
           (portRef CLK (instanceRef Qaux_2))
           (portRef CLK (instanceRef Qaux_1))
           (portRef CLK (instanceRef Qaux_0))
          ))
          (net CP (joined
           (portRef CP)
           (portRef PAD (instanceRef CP_pad))
          ))
          (net Q0_c (joined
           (portRef Q (instanceRef Qaux_0))
           (portRef D (instanceRef Q0_pad))
           (portRef A (instanceRef Qaux_5_0_1))
          ))
          (net Q0 (joined
           (portRef PAD (instanceRef Q0_pad))
           (portRef Q0)
          ))
          (net Q1_c (joined
           (portRef Q (instanceRef Qaux_1))
           (portRef D (instanceRef Q1_pad))
           (portRef A (instanceRef Qaux_5_0_2))
           (portRef A (instanceRef Qaux_5_0))
          ))
          (net Q1 (joined
           (portRef PAD (instanceRef Q1_pad))
           (portRef Q1)
          ))
          (net Q2_c (joined
           (portRef Q (instanceRef Qaux_2))
           (portRef D (instanceRef Q2_pad))
           (portRef A (instanceRef Qaux_5_0_3))
           (portRef A (instanceRef Qaux_5_1))
          ))
          (net Q2 (joined
           (portRef PAD (instanceRef Q2_pad))
           (portRef Q2)
          ))
          (net Q3_c (joined
           (portRef Q (instanceRef Qaux_3))
           (portRef D (instanceRef Q3_pad))
           (portRef A (instanceRef Qaux_5_2))
          ))
          (net Q3 (joined
           (portRef PAD (instanceRef Q3_pad))
           (portRef Q3)
          ))
         )
        (property orig_inst_of (string "hc194"))
       )
    )
  )
  (design hc194 (cellRef hc194 (libraryRef work)))
)
