(edif hc00
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2023 12 4 1 2 59)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell hc00 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port a (direction INPUT))
           (port b (direction INPUT))
           (port out (direction OUTPUT))
         )
         (contents
          (instance un1_out (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance out_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance b_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance a_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename un1_outZ0 "un1_out") (joined
           (portRef Y (instanceRef un1_out))
           (portRef D (instanceRef out_pad))
          ))
          (net a_c (joined
           (portRef Y (instanceRef a_pad))
           (portRef B (instanceRef un1_out))
          ))
          (net a (joined
           (portRef a)
           (portRef PAD (instanceRef a_pad))
          ))
          (net b_c (joined
           (portRef Y (instanceRef b_pad))
           (portRef A (instanceRef un1_out))
          ))
          (net b (joined
           (portRef b)
           (portRef PAD (instanceRef b_pad))
          ))
          (net out (joined
           (portRef PAD (instanceRef out_pad))
           (portRef out)
          ))
         )
        (property orig_inst_of (string "hc00"))
       )
    )
  )
  (design hc00 (cellRef hc00 (libraryRef work)))
)
