(edif fsm_tri
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2024 1 2 13 40 25)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A + B) & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1P0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell fsm_tri (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port clk (direction INPUT))
           (port rst (direction INPUT))
           (port ina (direction INPUT))
           (port dataout (direction OUTPUT))
         )
         (contents
          (instance clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance current_state_s2_0_a2 (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename current_state_ns_0_a3_0 "current_state_ns_0_a3[0]") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance (rename current_state_ns_i_1 "current_state_ns_i[1]") (viewRef prim (cellRef OA1A (libraryRef PA3)))          )
          (instance (rename current_state_0 "current_state[0]") (viewRef prim (cellRef DFN1P0 (libraryRef PA3)))
          )
          (instance (rename current_state_1 "current_state[1]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance dataout_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance ina_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance rst_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename current_stateZ0Z_1 "current_state[1]") (joined
           (portRef Q (instanceRef current_state_1))
           (portRef B (instanceRef current_state_ns_i_1))
           (portRef B (instanceRef current_state_ns_0_a3_0))
           (portRef A (instanceRef current_state_s2_0_a2))
          ))
          (net (rename current_state_ns_iZ0Z_1 "current_state_ns_i[1]") (joined
           (portRef Y (instanceRef current_state_ns_i_1))
           (portRef D (instanceRef current_state_1))
          ))
          (net (rename current_state_ns_0 "current_state_ns[0]") (joined
           (portRef Y (instanceRef current_state_ns_0_a3_0))
           (portRef D (instanceRef current_state_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net clk_c (joined
           (portRef Y (instanceRef clk_pad))
           (portRef CLK (instanceRef current_state_1))
           (portRef CLK (instanceRef current_state_0))
          ))
          (net clk (joined
           (portRef clk)
           (portRef PAD (instanceRef clk_pad))
          ))
          (net rst_c (joined
           (portRef Y (instanceRef rst_pad))
           (portRef CLR (instanceRef current_state_1))
           (portRef PRE (instanceRef current_state_0))
          ))
          (net rst (joined
           (portRef rst)
           (portRef PAD (instanceRef rst_pad))
          ))
          (net ina_c (joined
           (portRef Y (instanceRef ina_pad))
           (portRef C (instanceRef current_state_ns_i_1))
           (portRef A (instanceRef current_state_ns_0_a3_0))
          ))
          (net ina (joined
           (portRef ina)
           (portRef PAD (instanceRef ina_pad))
          ))
          (net dataout_d_c (joined
           (portRef Y (instanceRef current_state_s2_0_a2))
           (portRef D (instanceRef dataout_pad))
          ))
          (net dataout (joined
           (portRef PAD (instanceRef dataout_pad))
           (portRef dataout)
          ))
          (net (rename current_state_i_0_0 "current_state_i_0[0]") (joined
           (portRef Q (instanceRef current_state_0))
           (portRef A (instanceRef current_state_ns_i_1))
           (portRef B (instanceRef current_state_s2_0_a2))
          ))
         )
        (property langParams (string "s0 s1 s2 s3"))
        (property s3 (integer 2))
        (property s2 (integer 3))
        (property s1 (integer 1))
        (property s0 (integer 0))
        (property orig_inst_of (string "fsm_tri"))
       )
    )
  )
  (design fsm_tri (cellRef fsm_tri (libraryRef work)))
)
